<ion-content>
  <div class="container">
    <div class="container-fluid">
      <div class="d-flex align-items-center w-100 justify-content-center vh-100">
        <div class="m-2 text-center">
          <img src="../../../assets/logo_lines_white.png" alt="logo-outline" class="logo">
          <h3>Negotium.app</h3>
          <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
          <p>{{ message }}</p>        
        </div>

      </div>
    </div>

  </div>
</ion-content>
