<ion-header *ngIf="!showLoading">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'dashboard/products'" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{!editMode ? 'Crear producto': 'Editar producto'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!showLoading">
  <div class="d-flex justify-content-center p-3">
    <ion-card mode="ios" class="m-0 product-card">
      <div class="square">
        <img
          [src]="productImage? productImage :'https://firebasestorage.googleapis.com/v0/b/digitaliza-tu-empresa.appspot.com/o/asstes%2Fproduct-min%20(1).png?alt=media&token=ae5a810f-d9d1-4240-8070-787b20d5eeed'"
          class="sq-setter-w"
          (click)="editImage()"
        />
        <div *ngIf="productImage" class="sq-content d-flex justify-content-end p-1">
          <ion-icon (click)="removeImage()" name="close-circle"></ion-icon>
        </div>
      </div>
      <ion-card-header [ngStyle]="{'background': formatColor?.bgColor ?  formatColor.bgColor : '#ffffff' }">
        <ion-card-title
        [ngStyle]="{'color': formatColor?.txtColor ?  formatColor.txtColor : '#000' }"
          >{{ form.value.name ? form.value.name : 'Nombre del producto'}}</ion-card-title
        >
        <ion-card-subtitle [ngStyle]="{'color': formatColor?.txtColor ?  formatColor.txtColor : '#000' }"> {{ (form.value.price ? form.value.price : 0 ) | currency }} </ion-card-subtitle>
        <div class="d-flex align-items-baseline recomendation" *ngIf="form.value.suggest">
          <ion-icon name="star" color="warning"></ion-icon> <span [ngStyle]="{'color': formatColor?.txtColor ?  formatColor.txtColor : '#000' }">Recomendado</span>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="d-flex justify-content-around align-items-center button-bar">
    <ion-button expand="block" (click)="uploadProductFile()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Subir foto
    </ion-button>
    <ion-button expand="block" (click)="openPickerColor()">
      <ion-icon slot="start" name="color-palette"></ion-icon>
      Cambiar color
    </ion-button>
  </div>
  <form [formGroup]="form" class="form">
    <ion-label position="floating">Nombre*</ion-label>
    <ion-input
      type="text"
      placeholder="Nombre del producto"
      formControlName="name"
    ></ion-input>
    <ion-label position="floating">Precio*</ion-label>
    <ion-input
      type="number"
      placeholder="$0.00"
      formControlName="price"
    ></ion-input>
    <ion-label position="floating">Descripción(opcional)</ion-label>
    <ion-textarea
      type="text"
      placeholder="Breve reseña del producto"
      formControlName="description"
    ></ion-textarea>
    <ion-item
      button
      class="mt-2"
      (click)="openCategories()"
    >
      <ion-label>
        <h3>Categoría</h3>
        <p>{{ form.value.category }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Mostrar en el catálogo</ion-label>
      <ion-toggle 
      formControlName="showOn" slot="end" mode="md"></ion-toggle>
    </ion-item>
    <ion-item lines="none" class="mb-3">
      <ion-label>Recomendar producto</ion-label>
      <ion-toggle formControlName="suggest" slot="end" mode="md"></ion-toggle>
    </ion-item>
    <mat-accordion>
      <mat-expansion-panel [expanded]="account === 'pro'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Más opciones
            <ion-badge *ngIf="account === 'free'" color="primary" mode="ios" class="ms-1"
              >PRO</ion-badge
            ></mat-panel-title
          >
        </mat-expansion-panel-header>
        <ion-item [disabled]="account === 'free'" (click)="openMultipleImages()" button>
          <ion-label>
            <h3>Añadir más images</h3>
            <p *ngIf="account === 'free'">No disponible</p>
            <p *ngIf="account !== 'free'">  {{ productImages.length? ('+' + productImages.length) : 'No añadidas' }} </p>
          </ion-label>
        </ion-item>
        <ion-item [disabled]="account === 'free'">
          <ion-label>
            Vender por
          </ion-label>
          <ion-select [interfaceOptions]="alertOpts" interface="popover" formControlName="measurementUnits" placeholder="Selecciona" (ionChange)="verifyMeasurementUnits()">
            <ion-select-option value="unidad">Unidad</ion-select-option>
            <ion-select-option value="kg">Kg (Kilogramo)</ion-select-option>
            <ion-select-option value="lt">Lt (Litro) </ion-select-option>
            <ion-select-option value="mt">Mt (Metro)</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item [disabled]="account === 'free'" button (click)="openProductVariations()">
          <ion-label>
            <h3>Añadir variaciones</h3>
            <p *ngIf="account === 'free'">No disponible</p>
            <p *ngIf="account !== 'free'">  {{ productVariants.length? ('+' + productVariants.length) : 'No añadidas' }} </p>
          </ion-label>
        </ion-item>
        <ion-item [disabled]="account === 'free'" button (click)="openProductStock()">
          <ion-label>
            <h3>Control de Stock</h3>
            <p *ngIf="account === 'free'">No disponible</p>
            <p *ngIf="account !== 'free'">  {{ productStock.stockController ?  ('Productos en stock: ' + productStock.availableStock) : 'No'}} </p>
          </ion-label>
        </ion-item>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</ion-content>
<ion-content *ngIf="showLoading">
  <div class="mt-5">
    <app-loading></app-loading>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" *ngIf="editMode">
      <ion-button fill="clear" (click)="deleteProduct()" color="danger">
        <ion-icon slot="start" name="trash"></ion-icon>
        Borrar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="saveProduct()" color="secondary" [disabled]="this.form.invalid">
        <ion-icon slot="start" name="save"></ion-icon>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>