ion-label {
  --color: #363636;
  color: #363636;
  h3 {
    font-size: 17px;
  }
}
ion-item {
  ion-label {
    white-space: normal !important;
  }
}
ion-input,
ion-textarea {
  --background: #e2e2e2;
  --border-radius: 12px;
  --padding-start: 10px;
  border-radius: 12px;
  --color: black;
  font-weight: 600;
}

.form {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

::ng-deep {
  .mat-expansion-panel-body {
    padding: 0 10px 16px !important;
  }
}

.square {
  position: relative;
  width: 100%;
  display: inline-block; /* could be float */
}
.sq-setter-w {
  width: 100%;
  height: auto;
}

.sq-content {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 24px;
  height: 32px;
  ion-icon {
    cursor: pointer;
    color: rgb(243, 55, 55) !important;
    transition: all ease-in-out 100ms;
    &:hover {
      font-size: 28px;
      color: rgb(165, 13, 13) !important;
    }
  }
}

.product-card {
  width: 50%;
  transition: heigth 0.5s ease-in-out 0s;
  ion-card-header {
    padding: 0.5rem !important;
    transition: all 0.5s ease-in-out 0s;
  }
  ion-card-title {
    font-size: 1.2rem;
  }

  ion-card-subtitle {
    opacity: 0.75;
  }

  .recomendation {
    font-size: 12px;
    span {
      margin-left: 0.25rem;
    }
  }
}

.button-bar {
  padding: 1rem;
  ion-button {
    width: 100%;
    --background: #e2e2e2;
    --color: #6e6e6e;
    --color-activated: #6e6e6e;
    --color-focused: #6e6e6e;
    --color-hover: #6e6e6e;
    --background-activated: #cecece;
    --background-focused: #cecece;
    --background-hover: #cecece;
    --ripple-color: #1e1e1e;
  }
}
