<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" color="light" (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ shipping ? "Editar" : "Nuevo" }} Envío </ion-title>
    <ion-buttons slot="end" *ngIf="shipping">
      <ion-button fill="clear" (click)="openAlertDelete()">
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label>Nombre<ion-text color="danger">*</ion-text></ion-label>
      <ion-input
        required
        placeholder="e.j: Express"
        type="text"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label
        >Costo de envío <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        placeholder="$125.00"
        type="number"
        formControlName="cost"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Aplicar a cada producto</h3>
        <p *ngIf="!form.value.applyEachProduct">
          Al <strong>activar</strong> esta opción el costo de envío se aplicará
          a cada producto en el resumen de la órden
        </p>
        <p *ngIf="form.value.applyEachProduct">
          Al <strong>desactivar</strong> esta opción el costo de envío se
          aplicara sobre el monto total de la órden
        </p>
      </ion-label>
      <ion-toggle formControlName="applyEachProduct"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Mínimo de compra</h3>
        <p>
          El cliente debe cumplir con un monto de compra para que se haga el
          envío
        </p>
      </ion-label>
      <ion-input
        placeholder="$25.00"
        type="number"
        formControlName="minPurchaseAmount"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Envío gratis</h3>
        <p>
          A partir de esta cantidad(monto total de compra) el envío es gratis
        </p>
      </ion-label>
      <ion-input
        placeholder="$25.00"
        type="number"
        formControlName="freeShippingAmount"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Tiempo de entrega<ion-text color="danger">*</ion-text></h3>
        <p>Tiempo aproximado que llegará el envío</p>
      </ion-label>
      <ion-input
        placeholder="3-5 días"
        type="text"
        formControlName="availableDays"
        required
      ></ion-input>
    </ion-item>
    <ion-button
      expand="block"
      color="secondary"
      class="mt-3 px-3"
      mode="ios"
      [disabled]="form.invalid"
      (click)="saveShipping()"
    >
      Aceptar
    </ion-button>
    <br />
  </form>
</ion-content>
