<ion-header *ngIf="isModal">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" color="light" (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex align-items-center justify-content-around">
    <ion-searchbar
      placeholder="Buscar"
      [debounce]="250"
      mode="ios"
      [(ngModel)]="searchTerm"
      (ionChange)="searchByTerm()"
    ></ion-searchbar>
    <ion-button fill="clear" color="secondary" (click)="createCategory()">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
  </div>
  <ion-list *ngIf="!showLoading">
    <ion-item
      *ngIf="isModal"
      button
      mode="ios"
      lines="none"
      (click)="selectCategory('empty', null)"
    >
      <ion-label> Sin categoría </ion-label>
    </ion-item>
    <ion-item
      button
      mode="ios"
      lines="none"
      *ngFor="let item of categories; let i = index"
      (click)="selectCategory(item, i)"
    >
      <ion-label> {{ item }} </ion-label>
    </ion-item>
  </ion-list>
  <div class="mt-4 p-3" *ngIf="!showLoading && !categories.length">
    <app-message-embedded
      [title]="'Sin categorías'"
      [message]="
        'No has añadido categorías a tu tienda. Pulsa en el boton + para añadir categorías'
      "
    ></app-message-embedded>
  </div>
  <div class="my-4" *ngIf="showLoading">
    <app-loading></app-loading>
  </div>
</ion-content>
