<app-header-bar></app-header-bar>
<ion-content>
  <div class="container">
    <div class="container-fluid">
      <h3 class="mt-4">Selecciona un plan</h3>
      <p>
        <strong>Negotium App</strong> te da la posibilidad de utlizar sus
        herramientas para llevar tu empresa al mundo digital, selecciona el plan
        que te permita cumplir tu objetivo, VENDER ONLINE.
      </p>
      <div class="cards-container my-3">
        <ion-card class="plan-card" mode="ios">
          <ion-card-header>
            <ion-card-subtitle>FREE</ion-card-subtitle>
          </ion-card-header>
          <div class="text-center p-3">
            <ion-card-title> $0.00 <small>al mes</small> </ion-card-title>
          </div>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label>1 Tienda</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>1 Imagen/producto</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>1 Zona de envío</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>1 Opción de envío</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Personalización</ion-label>
                <ion-icon slot="end" name="close" color="danger"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Control de Stock</ion-label>
                <ion-icon slot="end" name="close" color="danger"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Control de ventas</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Marca de agua de Negotium</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Ofertas personalizadas</ion-label>
                <ion-icon slot="end" name="close" color="danger"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Repartidores</ion-label>
                <ion-icon slot="end" name="close" color="danger"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Pagos online</ion-label>
                <ion-icon slot="end" name="close" color="danger"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card class="plan-card pro" mode="ios">
          <ion-card-header>
            <ion-card-subtitle> PRO </ion-card-subtitle>
          </ion-card-header>
          <div class="text-center p-3">
            <ion-card-title> $199.00 <small>al mes</small> </ion-card-title>
          </div>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label>1 Tienda</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>$99/Tienda extra</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>4 Imagenes/producto</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item class="label-with-icon">
                <ion-label
                  ><ion-icon name="infinite"></ion-icon> Zonas de
                  envío</ion-label
                >
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Personalización</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Control de Stock</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Control de ventas</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item class="label-with-icon">
                <ion-label
                  ><ion-icon name="infinite"></ion-icon> Opción de
                  envío</ion-label
                >
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Sin Marca de agua</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Ofertas/Cupones</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Repartidores</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Pagos online</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Soporte</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
            </ion-list>
            <div class="d-flex justify-content-center mt-3">
              <ion-button
                color="primary"
                mode="ios"
                (click)="selectPlan('pro')"
              >
                Seleccionar
              </ion-button>
            </div>
            <p class="terms-notice">
              <small>
                <a [routerLink]="['/terms']"
                  >Se aplican Términos y Condiciones</a
                >
                en el servicio.
              </small>
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card class="plan-card vip" mode="ios">
          <ion-card-header>
            <ion-card-subtitle> VIP </ion-card-subtitle>
          </ion-card-header>
          <div class="text-center p-3">
            <ion-card-title> $5699.00 <small>al mes</small> </ion-card-title>
          </div>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label class="label-with-icon"
                  ><ion-icon name="infinite"></ion-icon> Tiendas</ion-label
                >
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Dominio propio</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>4 Imagenes/producto</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item class="label-with-icon">
                <ion-label
                  ><ion-icon name="infinite"></ion-icon> Zonas de
                  envío</ion-label
                >
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Personalización</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Control de Stock</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Control de ventas</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item class="label-with-icon">
                <ion-label
                  ><ion-icon name="infinite"></ion-icon> Opción de
                  envío</ion-label
                >
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Sin Marca de agua</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Ofertas/Cupones</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Repartidores</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Pagos online</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Soporte 24/7</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Asesoría personalizada</ion-label>
                <ion-icon
                  slot="end"
                  name="checkmark"
                  color="success"
                ></ion-icon>
              </ion-item>
            </ion-list>
            <div class="d-flex justify-content-center mt-3">
              <ion-button
                color="primary"
                mode="ios"
                (click)="selectPlan('vip')"
              >
                Seleccionar
              </ion-button>
            </div>
            <p class="terms-notice">
              <small>
                <a [routerLink]="['/terms']"
                  >Se aplican Términos y Condiciones</a
                >
                en el servicio.
              </small>
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <br />
  <app-footerbar></app-footerbar>
</ion-content>
