<ion-content class="color-change">
  <div class="container">
    <div class="container-fluid">
      <div
        class="d-flex justify-content-center align-items-center vh-100 position-relative"
      >
        <img
          src="../../../assets/pizza_1.png"
          class="float-pizza pizza-one"
          alt=""
        />
        <img
          src="../../../assets/pizza_2.png"
          class="float-pizza pizza-two"
          alt=""
        />
        <img
          src="../../../assets/pizza_3.png"
          class="float-pizza pizza-three"
          alt=""
        />
        <img
          src="../../../assets/pizza_4.png"
          class="float-pizza pizza-four"
          alt=""
        />
        <ion-card mode="ios">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/logo.png" alt="logo" class="logo" />
          </div>
          <h2 class="mt-2">Digitaliza tu Pizzería</h2>
          <ion-card-header>
            <ion-card-title>Inicio de Sesión</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item class="input-login" class="mb-4">
              <ion-label slot="start">
                <ion-icon slot="icon-only" name="mail"></ion-icon>
              </ion-label>
              <ion-input
                [(ngModel)]="email"
                placeholder="Correo"
                clearInput="true"
                inputmode="email"
              ></ion-input>
            </ion-item>
            <ion-item class="input-login" class="mb-4">
              <ion-label slot="start">
                <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
              </ion-label>
              <ion-input
                placeholder="Contraseña"
                type="password"
                [(ngModel)]="password"
              ></ion-input>
            </ion-item>
            <div class="ps-4">
              <a (click)="resetPassword()">
                ¿Olvidaste tu contraseña? <span>Pulsa aquí </span>
              </a>
            </div>
            <ion-button
              expand="block"
              shape="round"
              class="mb-4"
              (click)="login()"
            >
              Iniciar
            </ion-button>

            <ion-button
              (click)="openCreateAccount()"
              expand="block"
              fill="clear"
              shape="round"
              class="mb-4 mt-2"
            >
              No tengo cuenta
            </ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
