ion-content {
  --background: transparent;
}

ion-card {
  max-width: 600px;
  min-width: 600px;
}

ion-button {
  margin-top: 2.5rem;
  padding: 0 1rem 0 1rem;
}

a {
  padding-left: 1rem;
  cursor: pointer;
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

.logo {
  width: 80px;
  height: 80px;
  margin-top: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  ion-card {
    max-width: 100%;
    min-width: 100%;
    margin: 1rem;
  }
}

.color-change {
  -webkit-animation: color-change-2x 5s linear infinite alternate both;
  animation: color-change-2x 5s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #30348c;
  }
  100% {
    background: #6060f1;
  }
}
@keyframes color-change-2x {
  0% {
    background: #30348c;
  }
  100% {
    background: #6060f1;
  }
}
