ion-label {
    --color: #363636;
    color: #363636;
  }
  
  ion-input {
    --background: #e2e2e2;
    --border-radius: 12px;
    --padding-start: 10px;
    border-radius: 12px;
    --color: black;
    font-weight: 600;
  }
  