<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" color="light" (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Restablecer contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="m-4">
    <form [formGroup]="form">
      <ion-label position="floating">
        Correo
      </ion-label>
      <ion-input
        type="email"
        [placeholder]="'Inserta el correo registrado'"
        formControlName="email"
      ></ion-input>
      <ion-button
        expand="block"
        color="secondary"
        class="mt-3"
        mode="ios"
        [disabled]="form.invalid"
        (click)="reset()"
      >
        Aceptar
      </ion-button>
    </form>
  </div>
</ion-content>
