.bg-primary {
  ion-backdrop {
    background: var(--ion-color-primary) !important;
    opacity: 1 !important;
  }
}

ion-modal {
  backdrop-filter: blur(5px);
}

.no-blur {
  backdrop-filter: blur(0px) !important;
}

.sq-modal {
  --width: 90%;
  --border-radius: 12px;
  --height: 100vw;

  div[role="dialog"] {
    max-width: 400px;
    max-height: 400px;
  }
}

.big {
  --width: 100%;
  --height: 100vh;
}

@media (max-width: 767px) {
  .tab-modal {
    padding-top: 22%;

    .modal-wrapper {
      border-radius: 18px 18px 0 0;
    }
  }
}
