.bg-primary {
  ion-backdrop {
    background: var(--ion-color-primary) !important;
    opacity: 1 !important;
  }
}

.sq-modal {
  --width: 90%;
  --border-radius: 12px;
  --height: 100vw;
}

.tab-modal {
  padding-top: 22%;

  .modal-wrapper {
      border-radius: 18px 18px 0 0;
  }
}

.big {
  --width: 100%;
  --height: 100vh;
}
