<ion-content [scrollY]="false">
  <div class="radient">
    <div class="d-flex justify-content-end align-items-center">
      <ion-button fill="clear" size="small" color="light" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
    <div class="d-flex justify-content-center align-items-center to-img">
      <ion-icon name="storefront"></ion-icon>
      <ion-badge color="primary" mode="ios">PRO</ion-badge>
    </div>
  </div>
  <div class="m-3">
    <h3>Convierte tu negocio en Pro!</h3>
    <p>
      {{ message }}
    </p>
    <div class="d-flex justify-content-around align-items-center pt-3">
      <ion-button fill="clear"  color="medium" (click)="close()" mode="ios">
        Más tarde
      </ion-button>
      <ion-button fill="outline" color="primary" mode="ios">
        Ver Precios
      </ion-button>
    </div>
  </div>
</ion-content>
