.color-circle{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: aquamarine;
}


ion-textarea{
    margin-top: 1rem;
    background: #f7f7f7;
    border-radius: 8px;
    min-height: 6rem;
    --padding-start: 10px;
}

.alert-empty{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 2rem;
    h1{
        font-size: 2rem;
        color: #8c8c8c;
    }
    p{
        color: #b1afaf;
    }
}