<div class="footer">
  <div class="container">
    <div class="container-fluid d-flex">
      <div class="w-40 p-1 d-flex align-items-center">
        <div class="text-center">
          <img src="../../../assets/logo_lines_white.png" alt="logo" />
          <h2 class="mt-3">Negotium App</h2>
        </div>
      </div>
      <div class="w-30 p-1 pl-2">
        <h2 class="m-3">Website</h2>
        <a href="">
          <p>
            <ion-icon name="chevron-forward"></ion-icon> Aviso de privacidad
          </p>
        </a>
        <a href="">
          <p>
            <ion-icon name="chevron-forward"></ion-icon> Términos y condiciones
          </p>
        </a>
        <a href="">
          <p><ion-icon name="chevron-forward"></ion-icon> Contacto</p>
        </a>
      </div>
      <div class="w-30 p-1">
        <h2 class="m-3">Redes sociales</h2>
        <div class="d-flex">
          <ion-button>
            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="logo-tiktok"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copy-right">
  <div class="container-fluid">
    <p>© 2021 Negotium App. All rights reserved</p>
  </div>
</div>
