::ng-deep {
    .mat-vertical-content {
        padding: 0 10px 10px 10px !important;
    }
}

button {
    background: none;
    color: var(--ion-color-primary);
    padding: 5px;
}

ion-item {
    ion-label {
        white-space: normal !important;
    }
}

agm-map {
    width: 100%;
    height: 400px;
}