<ion-split-pane contentId="content" *ngIf="store">
  <ion-menu contentId="content" menuId="main">
    <ion-content>
      <ion-list lines="none">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="store.picture" />
          </ion-avatar>
          <ion-label
            >{{ store.name }}
            <p *ngIf="store?.typeAccount === 'free'">
              <ion-text color="primary">
                <small>Actualiza tu plan aquí</small>
              </ion-text>
            </p>
          </ion-label>
          <ion-badge> {{ store.typeAccount | uppercase }} </ion-badge>
          <ion-menu-toggle auto-hide="false" menu="main">
            <ion-button
              fill="clear"
              color="medium"
              class="ms-3"
              routerLink="/dashboard/settings"
              routerDirection="root"
            >
              <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-item>
        <ion-menu-toggle auto-hide="false" menu="main">
          <ion-item
            routerLink="/dashboard/home"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item
            routerLink="/dashboard/products"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-icon slot="start" name="albums"></ion-icon>
            <ion-label>Mis productos</ion-label>
          </ion-item>
          <ion-item
            *ngFor="let item of menuItems"
            [routerLink]="item.path"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
            <ion-label> {{ item.label }} </ion-label>
          </ion-item>
          <ion-item
            routerLink="/dashboard/shipping"
            routerDirection="root"
            routerLinkActive="active-item"
            *ngIf="false"
          >
            <ion-icon
              slot="start"
              src="../../../assets/icons/airplane.svg"
            ></ion-icon>
            <ion-label>Shipping (envíos)</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
<div class="mt-5" *ngIf="!store">
  <app-loading text="Inicializando tu negocio..."></app-loading>
</div>
